body {
    background: #e6f0fa;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 395px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.08);
    margin-top: 40px;
    position: relative;
}

h1 {
    text-align: center;
}

.card {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    margin-top: 0;
}

.card > div {
    font-weight: 600;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input[name="athlete_id"] {
    margin-bottom: 18px;
    width: 100%;
    box-sizing: border-box;
}

.card input {
    width: 100%;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #0f1f0f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
    text-decoration: none;
    color: #0a4d68;
    font-weight: bold;
    background: white;
    padding: 6px 12px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: 0.2s ease;
}

.back-button:hover {
    background: #e1f7ff;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.success {
    color: green;
    text-align: center;
}
