* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #e6f0fa;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: left;
    width: 100%;
    margin-left: 0;
}

.training-card {
    width: 395px;
    background: #b3deff;
    color: #3b5bff;
    font-weight: 600;
    text-align: center;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card {
    width: 395px;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 15px 0;
}
